<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chatapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".Messaging.MApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"

        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".Messaging.SendImageActivity" />
        <activity
            android:name=".GoSocial.Comments_handeling_Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="com.example.chatApp.TARGET_NOTIFICATION_POST"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity
            android:name=".GoSocial.ViewPostsLikesActivity"
            android:label="Likes"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".GoSocial.Show_Clicked_Image"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".GoSocial.NewPost" />
        <activity android:name=".UiChechAndLearnings.LocationLearning"
            android:screenOrientation="portrait"/>
        <service android:name=".GoSocial.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity
            android:name=".GoSocial.NewsFeed"
            android:label="News Feed"
            android:parentActivityName=".UsersHomePage" >
            <intent-filter>
                <action android:name="com.example.chatApp.HOME_PAGE"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity
            android:name=".User2RelatedActivities.User1FriendList"
            android:label="Start a new conversation"
            android:parentActivityName=".UsersHomePage" />
        <activity android:name=".User2RelatedActivities.User2FriendView" />
        <activity android:name=".RegisterAndLogin.MaaKaLAdla" />
        <activity
            android:name=".User2RelatedActivities.Show_Profile_PictureActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Messaging.ChatActivity"
            android:parentActivityName=".UsersHomePage"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <intent-filter>
                <action android:name="com.example.chatApp.TARGET_NOTIFICATION_MESSAGE"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterAndLogin.MainScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/fcm_push_icon" />
<!--        <meta-data android:name="com.google.firebase.messaging.default_notification_color"-->
<!--            android:resource="@color/green" />-->

        <activity
            android:name=".User2RelatedActivities.User2ProfileActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="com.example.chatApp.TARGET_NOTIFICATION"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity
            android:name=".GoSocial.FindFriend"
            android:parentActivityName=".UsersHomePage"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".RegisterAndLogin.StatusChangeActivity"
            android:label="New Status"
            android:parentActivityName=".SettingsActivity" />
        <activity
            android:name=".RegisterAndLogin.LoginActivity"
            android:label="Login"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".RegisterAndLogin.RegisterActivity"
            android:label="Register"
            android:parentActivityName=".RegisterAndLogin.LoginActivity" />
        <activity
            android:name=".UsersHomePage"
            android:label="Let&apos;s Chat"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>